section
  include:handlebars introtitle.html
section
  h2 Reveal.js
  ul
    li.fragment Javascript library for beautiful presentations [#[a(href="http://lab.hakim.se/reveal-js/") link]]
    li.fragment Pure HTML5 &amp; CSS
    li.fragment Extensible and full of features
    li.fragment #[span.red But] official docs say:
  blockquote.fragment.
    &ldquo;Unzip and replace the example contents in index.html with your own&rdquo;
section
  h2 Slides.com
  ul
    li.fragment Online WYSIWYG editor for Reveal.js presentations
    li.fragment Small fee for people who want private presentations
    li.fragment Great for people who like a GUI...
    li.fragment ...but I'm a coder, most comfortable in my editor.
section
  h2 Enter Revelry
  ul
    li.fragment Presentations as code projects
    li.fragment No boilerplate or copy & paste
    li.fragment Just edit and compile
    li.fragment Use all your existing tools:
    ul
      li.fragment Editor
      li.fragment Version control
      li.fragment Web server
