section
  include:handlebars introtitle.html
section
  h2 Reveal.js
  ul
    li.fragment Javascript library for beautiful presentations [#[a(href="http://lab.hakim.se/reveal-js/") link]]
    li.fragment Pure HTML5 & CSS
    li.fragment Extensible and full of features
    li.fragment #[span.red But] official docs say:
  blockquote.fragment.
    &ldquo;Unzip and replace the example contents in index.html with your own&rdquo;
