//- This is a demo Revelry project
section
  h1= title
  h2= description
//- Load each top-level section from a separate file
section#intro 
  include intro.jade
section#features
  include features.jade
